
div{
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}


img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}


p{
    font-family: 'Times New Roman', Times, serif;;
}




